<!DOCTYPE html>
<html>
<head>
    <!--<title>title</title>-->
    <% include templates/head.ejs %>
</head>
<body>
<% include templates/layout.ejs %>
<h3 style="margin-top: 100px"><%= message %></h3>
<h4><%= error.status %></h4>
<pre><%= error.stack %></pre>
</body>
</html>
