<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../templates/head.ejs %>
  </head>
  <body>

    <% include ../templates/layout.ejs %>
    <script type="text/javascript">
    	$('#menu-user').addClass('active');
    </script>

    <div class="content user-form">
      <form>
        <div class="info"></div>
        <input type="text" name="username" placeholder="用户名/邮箱/手机号">
        <div class="info"></div>
        <input type="password" name="password" placeholder="密码">
        <div class="info"></div>
        <button class="btn btn-mine btn-block" id="submit">登录</button>
      </form>
    </div>

    <script type="text/javascript">
      $('form').submit(function(){
        $.ajax({  
          type: 'POST',
          data: $(this).serialize(),
          processData: false  
        }).then(function(data){
          if(data.success) {
            window.location.href = "/user";
          } else {
              $('#submit').prev().text(data.fail);
              $('#submit').prev().show();
          }
        },function(){
          $('#submit').prev().text("登录失败");
          $('#submit').prev().show();
        });
        return false;
      });
    </script>

  </body>
</html>
