@DarkerBlue: #11798D;
@DarkBlue: #1291a9;
@LightBlue: #cedfde;
@LighterBlue: #d1f0ef;

@backWhite: #fafaff;
@backGray: #edf3f3;
@foreGray: #777;

@largeFont: 15px;
@normalFont: 14px;
@smallFont: 13px;

@border: 1px solid #ddd;

body {
	background-color: @backWhite;
}

a {
	color: @DarkBlue;
}

.btn-mine {
  color: white;
  background-color: @DarkBlue;
  border: 1px solid @DarkBlue;
}
.btn-mine:active, .btn-mine.active {
  color: #fff;
  background-color: @DarkerBlue;
  border: 1px solid @DarkerBlue;
}

.id {
	display: none;
}

.header {
	color: @LighterBlue;
	background-color: @DarkBlue;
	font-size: @largeFont;
	.pull-left, .pull-right {
		color: inherit;
		line-height: 44px;
		padding: 0;
	}
	.title {
		color: inherit;
		line-height: 30px;
		padding-top: 7px;
		a {
			padding: 3px 25px;
			background-color: @DarkerBlue;
			border: 1px solid @LighterBlue;
			border-radius: 5px;
			span {
				font-size: @largeFont;
				color: @LightBlue;
				font-weight: normal;
			}
		}
	}
}

#menu {
	background-color: @backGray;
	a {
		text-decoration: none;
		color: @foreGray;
		&.active {
			color: @DarkerBlue;
		}
	}
}

.table-view-cell {
	padding: 10px 10px 10px 15px;
	.showAll {
		float: right;
		font-size: @smallFont;
		line-height: 10px;
		margin-top: 6px;
	}
	.bookList {
		margin-top: 5px;
		overflow-x: scroll;
		white-space: nowrap;
		div {
			display: inline-table;
			margin-right: 2px;
			img {
				height: 70px;
			}
			.bookname {
				display: block;
				font-size: @normalFont;
				line-height: @normalFont;
				width: 78px;
				margin-bottom: 5px;
				white-space: normal;
			}
			.other {
				display: block;
				font-size: 10px;
				line-height: @normalFont;
				color: @foreGray;
				width: 78px;
				margin-bottom: 2px;
				white-space: normal;
			}
		}
	}
}

#searchModal {
	input {
		height: 26px;
		margin-top: 9px;
		color: @foreGray;
		font-size: inherit;
		background-color: @backGray;
	}
}

#index {
	.slider {
		height: 100px;
		background-color: @backWhite;
		padding: 0;
		.slide {
			height: 100px;
		}
	}
}

.user-form {
	form {
		margin: 10px;
		.info {
			font-size: @smallFont;
			margin: 0 5px;
			display: none;
		}
	}
}

#user {
	border-bottom: 0px;
	.arrow {
		float: right;
		margin-top: 6px;
	}
	.small {
		font-size: 10px;
		color: @foreGray;
	}
	#user-info {
		display: none;
	}
	.user-info {
		color: @foreGray;
		font-size: 14px;
		line-height: 30px;
		border: 1px solid @LightBlue;
		border-radius: 5px;
		margin: 0 10px 5px 0;
		padding: 0 15px;
		.icon {
			font-size: inherit;
			margin-right: 5px;
		}
	}
	#user-orders {
		border: 0px;
		#orders-title {
			border-radius: 5px 5px 0 0;
			border: @border;
		}
		.table-view-cell {
			border: @border;
			border-top: 0px;
			.date {
				color: @foreGray;
				font-size: 10px;
			}
		}
	}
}

.booklist {
	a {
		width: 320px;
	}
	.image {
		width: 70px;
		height: 70px;
		display: inline-block;
		vertical-align: top;
		img {
			max-height: 70px;
			max-width: 70px;
		}
	}
	.info {
		display: inline-block;
		width: 120px;
		margin: 10px;
		.bookname {
			display: block;
			font-size: @normalFont;
			line-height: @normalFont;
			width: inherit;
			margin-bottom: 5px;
		}
		.other {
			display: block;
			font-size: 10px;
			line-height: @normalFont;
			color: @foreGray;
			width: inherit;
			margin-bottom: 2px;
			.star {
				color: orange;
			}
		}
	}
	.price {
		display: inline-block;
		vertical-align: top;
		border: 1px solid @DarkBlue;
		border-radius: 3px;
		color: @DarkerBlue;
		padding: 2px 5px;
		margin-top: 15px;
		font-size: @smallFont;
		position: absolute;
		right: 40px;
	}
	.number {
		position: absolute;
		right: 26px;
		top: 3px;
		background: @LighterBlue;
		color: @DarkerBlue;
		height: 22px;
		width: 22px;
		text-align: center;
		border: 1px solid @DarkerBlue;
		border-radius: 20px;
		line-height: 22px;
		font-size: @smallFont;
	}
	.check {
		vertical-align: top;
		display: inline-block;
		margin-top: 25px;
		color: @foreGray;
	}
	.edit {
		display: inline-block;
		min-width: 50px;
		text-align: right;
		font-size: 12px;
		line-height: 13px;
		margin-top: 15px;
		vertical-align: top;
		.oldPrice {
			color: @foreGray;
		}
		.line {
			width: 55px;
			height: 1px;
			background-color: @foreGray;
			position: relative;
			top: -8px;
		}
	}
	.checkall {
		display: inline-block;
		color: @foreGray;
	}
	.checkall-info {
		display: inline-block;
		font-size: 13px;
		vertical-align: top;
		line-height: 13px;
		margin-top: 3px;
	}
	.total {
		display: inline-block;
		color: @DarkBlue;
		font-size: 15px;
		vertical-align: top;
		line-height: 13px;
		margin-top: 3px;
		float: right;
	}
	.submit {
		float: right;
		background-color: @DarkBlue;
		color: white;
		font-size: 13px;
		height: 20px;
		width: 40px;
		text-align: center;
		margin-left: 10px;
	}
}

.segmented-control {
	margin: 10px 20px;
}

.qrcode-back {
	position: absolute;
	top: 0;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	background-color: @backGray;
	display: none;
}

.qrcode {
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	border: 5px solid white;
	display: none;
}

#category {
	position: absolute;
	top: 44px;
}

.icon-checkmark {
	float: right;
	color: @DarkBlue;
}

.content, .card, ul {
	background-color: @backWhite !important;
}

#book {
	#menu {
		padding: 10px 20px;
		border-bottom: @border;
		#img {
			max-width: 100px;
			max-height: 100px;
			display: inline-block;
			vertical-align: top;
		}
		#info {
			display: inline-block;
			width: 95px;
			margin-left: 10px;
			margin-top: 10px;
			#author {
				font-size: @smallFont;
				color: @foreGray;
			}
			#point {
				display: block;
				font-size: 10px;
				line-height: @normalFont;
				color: @foreGray;
				width: inherit;
				position: absolute;
				bottom: 50px;
				.star {
					color: orange;
				}
			}
		}
		#price {
			display: inline-block;
			vertical-align: top;
			border: 1px solid @DarkBlue;
			border-radius: 3px;
			color: @DarkerBlue;
			padding: 2px 5px;
			font-size: @smallFont;
			margin-top: 75px;
		}
		#book-control {
			margin: 10px 0 0 0;
		}
	}
	.card {
		border: 0px;
		.seperate {
			height: 1px;
			width: 100%;
			background-color: #ddd;
			margin: 7px 0 10px 0;
		}
		.info {
			font-size: @smallFont;
			.pointStar {
				color: orange !important;
				display: inline-block;
			}
			.datetime {
				display: inline-block;
				padding-left: 10px;
			}
			tr>td:first-child {
				color: @foreGray;
				text-align: right;
				padding-right: 10px;
			}
			.pointBack {
				width: 195px;
				height: 3px;
				background-color: @backGray;
				.point {
					background-color: @foreGray;
					height: 3px;
				}
			}
		}
		.small {
			font-size: 12px;
			line-height: 18px;
		}
		#isbn {
			width: 100%;
			max-height: 80px;
		}
	}
	#Intro, #Comments {
		margin: 10px 20px;
	}
}
